[submodule "nodebooru"]
	path = nodebooru
	url = git@github.com:Uncodin/nodebooru.git
[submodule "nativ"]
	path = nativ
	url = git@github.com:Uncodin/nativ.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Android-Common"]
	path = Android-Common
	url = git@github.com:Uncodin/Android-Common.git
